#breadcrumbs {
    background-color: #fbfbfb;
    padding: 7px
}

#breadcrumbs li {
    color: var(--bs-secondary);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

#breadcrumbs li a {
    color: var(--bs-yellow);
    text-decoration: none;
}

.content-wrap {
    padding: 40px;
    background: #fbfbfb;
}

.alert.header-message {
    border-radius: 0 !important;
}

.signature-wrap {
    margin-bottom: 15px;
}

.signature-wrap .signclick {
    padding: 0.2rem 1rem;
    border-radius: 4px;
}

.signature_box {
    width: 282px;
    position: relative
}

.btn.okbtn,
.btn.clear {
    color: #fff !important;
    background-color: #333 !important;
    border-color: #333 !important;
}

.sign-name label {
    font-size: 16px;
    font-weight: 600;
}

.signature_box .nav-tabs .nav-link {
    color: #000;
    font-weight: 600
}

.signature_box .nav-tabs .nav-link.active {
    color: #fff;
    background-color: var(--bs-yellow);
    border-color: var(--bs-yellow);
}

.signature_box .close {
    position: absolute;
    right: 0;
    padding: 0;
    line-height: 30px;
    width: 30px;
    font-size: 22px;
    background: transparent;
    border-color: transparent;
    color: #666 !important;
    top: 6px;
}

.tooltipsign {
    display: none;
    margin-top: 15px;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 10px 10px -10px #00000070;
}

.tooltipsign canvas {
    border-color: #666 !important
}

.clearsign+div {
    width: auto !important;
    float: right;
    margin: 0 !important;
}

.signature_box .panel {
    box-shadow: none !important;
    border: none !important
}

.signature_box .nav-tabs {
    border: none !important;
    padding-left: 0
}

.signature_box .panel .panel-body {
    height: 175px;
    margin-top: -1px;
    border: 1px solid #ddd;
    padding: 10px
}

.tooltipsign .panel-body .tab-content .tab-pane div:nth-child(2) {
    width: 100% !important
}

/* .btn.clear,
   .okbtn.btn {
    position:absolute;
    bottom:15px;
    left:17px
   } */
.signclick.btn.btn-primary {
    border-radius: 4px;
    box-shadow: none;
    margin: 0;
    padding: 5px 10px !important
}

.signature_box .panel-body::after {
    clear: none
}

.signtyped {
    font-family: Pacifico, cursive;
    font-size: 16px;
    letter-spacing: 1px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    line-height: 96px;
    text-align: center
}

.signtyped img {
    max-width: 100%;
}

.sign_type .signtyped {
    height: 64px;
    line-height: 64px;
    margin-bottom: 7px;
}

.sign_type .signtype {
    border-radius: 0
}

.nav-tabs>li {
    margin: 0 !important
}

.nav-tabs>li:before {
    display: none !important
}

.btn.clear {
    float: right;
}

/* .btn.clear,
   .okbtn.btn {
    padding:5px 15px;
    border-radius:4px;
    background-color:#000!important;
    border:1px solid #000!important
   } */
.sign-pad.signtyped {
    max-width: 236px
}

.sign-pad.signtyped.old_sign {
    line-height: unset;
    border: none;
    text-align: left
}

.sign-pad.signtyped.old_sign img {
    max-width: 236px
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    background: var(--bs-yellow) !important;
    border-color: var(--bs-yellow) !important
}

.input-underline {
    border: 0px;
    border-bottom: 1px solid #aaa;
    color: blue;
    max-width: 100%;
}

.input-underline.is-invalid {
    border-bottom: 2px solid var(--bs-yellow);
    color: var(--bs-yellow);
}

.input-underline:focus {
    border: 0px;
    border-bottom: 1px solid #666;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.field-hint {
    font-size: 14px;
    font-style: italic;
    color: #666;
    font-weight: 600;
}

.ol OL {
    counter-reset: item
}

.ol LI {
    display: block;
    margin: 7px 0;
    line-height: 25px
}

.ol LI:before {
    content: counters(item, ".") " - ";
    counter-increment: item;
    font-weight: 600;
    font-size: 13px
}

ul.no-ol li:before {
    display: none
}

.utility_item {
    margin-bottom: 7px
}

.md-form-inline-check {
    max-width: unset;
    display: inline-block !important;
}

.md-form-inline {
    display: inline-block;
    max-width: 120px;
    margin: 0;
}

.form-floating .form-select+label {
    -moz-padding-start: calc(0.75rem - 3px) !important;
}



@media (max-width:668px) {
    .input-underline {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width:350px) {
    .signature_box {
        width: 220px;
        position: relative
    }

    .signature_box .panel .panel-body {
        padding: 5px
    }

    .signature_box .tooltipsign {
        margin-left: -15px;
        margin-right: -13px
    }

    .signature_box .signtyped img {
        width: 100%
    }

    .md-form-inline {
        display: block;
        margin: 10px 0 20px;
        padding: 0 !important
    }
}




h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2 !important;
    margin-bottom: 20px !important;
}

:root {
    --bs-yellow: var(--bs-yellow);
    --white: #fff;
    --black: #000;
    --light-yellow: #FFFDF1;
}

.font-medium {
    font-family: 'Gilroy-Medium';
}

.font-bold {
    font-family: 'Gilroy-Bold';
}

.font-semi {
    font-family: 'Gilroy-Semi';
}

.font-black {
    font-family: 'Gilroy-Black';
}

body {
    font-family: 'Gilroy-medium' !important;
    font-size: 16px !important;
}

p,
ul,
li {
    line-height: 1.5;
    font-family: 'Gilroy-medium';
}

.header_shadow {
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.1);
}

.theme_button a,
.theme_button button,
.form_btn input[type="submit"] {
    background-color: #000;
    font-family: 'Gilroy-medium';
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme_button a.outline {
    background: transparent;
    border: 2px solid var(--bs-yellow);
    color: var(--bs-yellow) !important;
}

.theme_button a:hover,
.theme_button button:hover,
.form_btn input[type="submit"]:hover {
    background-color: var(--bs-yellow) !important;
    color: var(--black) !important;
}

.theme_button a.btn-theme-yellow {
    background: var(--bs-yellow);
    color: #000
}

.theme_button a.btn-theme-yellow:hover {
    background: var(--black) !important;
    color: #fff !important
}

.text-black-80 {
    color: rgba(0, 0, 0, 0.8)
}

.color-yellow {
    color: var(--bs-yellow);
}

.bg-yellow {
    background-color: var(--bs-yellow);
}

.bg-light-yellow {
    background-color: var(--light-yellow);
}

.card-border-yellow-color {
    border-color: var(--bs-yellow) !important;
}

.background-light {
    background: #FAFAFA;
}

.border-radius-14 {
    border-radius: 14px !important;
}

.border-radius-20 {
    border-radius: 20px !important;
}

.border-radius-100 {
    border-radius: 100px !important;
}

.card-box-shadow {
    box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.06);
}

.spacer-20 {
    height: 20px;
}

.spacer-40 {
    height: 40px;
}

.spacer-50 {
    height: 50px;
}

.spacer-60 {
    height: 60px;
}

.spacer-80 {
    height: 80px;
}

.spacer-100 {
    height: 100px;
}

/** Header CSS **/
.search_modal .modal-content {
    max-height: 250px;
    justify-content: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 600;
    color: black
}

.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link.show,
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--bs-yellow)
}

.form_inner .search_btn {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    transition: opacity 500ms ease 0s;
    height: 100%;
    background: var(--bs-yellow);
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.form_inner .search_btn:before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    color: #000;
    font-weight: 600;
}

.form_inner .search_btn input[type="submit"] {
    background: transparent;
    width: 60px;
    height: 100%;
    box-shadow: none !important;
    border: none !important;
    z-index: 2;
    position: relative;
    font-size: 0;
}

/** End Header CSS **/

/** Home Page CSS **/
#what_we_do {
    border: 1px solid var(--bs-yellow);
    border-radius: 30px;
}

.left-top {
    position: absolute;
    background-image: url('../images/left-top.png');
    width: 28px;
    height: 28px;
    left: 30px;
    top: 30px;
}

.left-center {
    position: absolute;
    background-image: url('../images/left-center.png');
    width: 21px;
    height: 21px;
    left: 12em;
    top: 3.5em;
}

.left-bottom {
    position: absolute;
    background-image: url('../images/left-bottom.png');
    width: 30px;
    height: 30px;
    left: 6em;
    top: auto;
    bottom: 30px;
}

.right-top {
    background-image: url('../images/right-top.png');
    width: 30px;
    height: 31px;
    right: 30px;
    left: auto;
    position: absolute;
    top: 30px;
}

.right-bottom {
    background-image: url('../images/right-bottom.png');
    width: 43px;
    height: 42px;
    left: auto;
    top: auto;
    bottom: 30px;
    right: 6em;
    position: absolute;
}

#how_can_help {
    max-width: 950px;
    margin: auto;
}

.how_can_help .card {
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.how_can_help .box_icon {
    width: 100px;
    height: 100px;
    margin: auto;
    background: rgba(253, 213, 1, 0.2);
    padding: 10px;
    border-radius: 15px;
    transition: 0.1s ease-in-out;
}

.how_can_help .card:hover {
    background: var(--bs-yellow);
    box-shadow: 0px 12px 44px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
}

.how_can_help .card:hover .box_icon {
    background: rgba(0, 0, 0, 0.2);
    transition: 0.1s ease-in-out;
}

.how_can_help .card:hover img.img-fluid {
    filter: brightness(0);
}

.brightness-0 {
    filter: brightness(0);
}

.how_can_help .card:hover .theme_button a {
    background: var(--black) !important;
    color: #fff !important;
}

/** End Home Page CSS **/

/** About & Job & Pricing Page CSS **/
#about_secion_1 {
    padding-bottom: 8em !important;
}

#about_secion_2 .info_frames {
    margin-top: -110px;
}

#about_secion_2 .info_frames .card,
#job_secion_4 .info_frames .card {
    box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}

#about_secion_2 .info_frames .card .box_icon,
#job_secion_4 .info_frames .card .box_icon {
    width: 62px;
    height: 62px;
    margin: auto;
    background: var(--bs-yellow);
    border-radius: 10px;
}

#about_secion_4 .card ul li.fs-5 {
    font-size: 18px !important;
}

#pricing_hover .card .card-body {
    transition: 0.3s ease-in-out;
}

#pricing_hover .card:hover .card-body {
    box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease-in-out;
}

.faq_accordian .accordion-button:before {
    content: "";
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid var(--bs-yellow);
    margin-right: 10px;
}

.faq_accordian .accordion-item .accordion-button[aria-expanded="false"] {
    border: 1px solid #E6E6E6;
    box-shadow: none !important;
}

.faq_accordian .accordion-item .accordion-button[aria-expanded="true"] {
    border: 1px solid var(--bs-yellow) !important;
    background: #FFFCEE;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    color: var(--bs-yellow);
    box-shadow: none !important;
}

.faq_accordian .accordion-item .show {
    border: 1px solid var(--bs-yellow) !important;
    border-top: none !important;
    background: #FFFCEE;
}

/** End About & Job & Pricing Page **/





/** Footer **/
.social_links li {
    background: transparent;
    border-color: var(--bs-yellow);
    border-left-width: 1px !important;
}

.social_links li a {
    width: 50px;
    height: 50px;
    background: transparent;
    border-color: var(--bs-yellow);
    transition: 0.3s linear;
    color: var(--bs-yellow);
    border-radius: 100px;
    text-decoration: none;
}

.social_links li:hover a {
    color: #000;
    background: var(--bs-yellow);
}

.footer_about li i {
    width: 40px;
    display: flex;
    height: 40px;
    border: 1px solid var(--bs-yellow);
    float: left;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-right: 10px;
    color: var(--bs-yellow);
    transition: 0.3s linear;
    font-weight: 600;
}

.footer_about li a {
    padding: 8px 0px;
    display: inline-block;
}

.footer_about li:hover i {
    background: var(--bs-yellow);
    color: var(--black);
    transition: 0.3s linear;
}

.copyright-links {
    text-align: right;
    padding-left: 0rem;
}

.copyright-links li {
    display: inline-block;
    padding: 0 0px 0 20px;
}

/** Footer Css **/

#different_time_input {
    border: 1px solid #ced4da;
    padding: 3px;
    border-radius: 4px;
    font-size: 14px;
}

.showing_dates {
    display: block;
    padding: 10px;
    border: 1px solid #ced4da;
    overflow-y: scroll;
    max-height: 200px;
    min-height: 100px;
    border-radius: 4px;
    overflow: hidden;
}

.showing_dates li {
    display: inline-block;
    padding: 3px 5px;
    background: #fff;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #ced4da;
    font-size: 14px;
}

.showing_dates li.active {
    background: #fdd501;
    color: #000;
    border: 1px solid #fdd501;
}

/** Media Query **/
@media (max-width:991px) {
    .navbar.sticky-top {
        top: 50px;
    }

    .form_inner .search_btn {
        background: #000;
    }

    .form_inner .search_btn:before {
        color: #fff;
    }

    #about_secion_2 .info_frames .card-body {
        min-height: 242px;
    }

    .modal.show .modal-dialog {
        margin-top: 120px;
    }
}

@media (max-width:767px) {
    .theme_button a.btn {
        width: 100%;
        margin: 10px 0px 0px;
    }

    .navbar.sticky-top {
        top: 102px;
    }

    #about_secion_2 .info_frames .card-body {
        min-height: auto;
    }

    .content-wrap {
        padding: 15px;
    }

    .copyright,
    .copyright-links li a {
        font-size: 12px;
        text-align: center;
    }

    .copyright-links {
        text-align: center;
        padding-left: 0rem;
    }

    .copyright-links li {
        display: inline-block;
        padding: 0 5px;
    }
}

@media (max-width: 575px) {

    .navbar-nav.gap-xs-1,
    .gap-xs-1 {
        gap: 0.25rem !important;
    }

    .d-xs-none {
        display: none !important;
    }

    .d-xs-block {
        display: block !important;
    }

    .py-sx-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .text-xs-center {
        text-align: center !important;
    }

    .mt-xs-4 {
        margin-top: 1.5rem !important;
    }

    .order-xs-first {
        order: -1 !important;
    }

    .order-xs-last {
        order: 6 !important;
    }

    .navbar.sticky-top {
        top: 101px;
    }
}

@media (min-width: 576px) {

    body .container,
    body .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 768px) {

    body .container,
    body .container-md,
    body .container-sm {
        max-width: 800px;
    }
}

@media (min-width:992px) {
    .how_can_help .card h4 {
        min-height: 87px;
    }

    body .container,
    body .container-lg,
    body .container-md,
    body .container-sm {
        max-width: 1050px;
    }

    #about_secion_2 .info_frames .card-body {
        min-height: 290px;
    }
}

@media (min-width: 1200px) {

    body .container,
    body .container-lg,
    body .container-md,
    body .container-sm,
    body .container-xl {
        max-width: 1140px;
    }
}

/** Media Query **/