.files_inner {
    padding: 10px;
    background: #f8f8f8;
    border-radius: 4px;
}

.files_inner input[type="file"] {
    opacity: 0;
    position: absolute;
    display: block;
}

.files_inner label {
    border: 2px dashed #bbb;
    padding: 40px 10px 45px;
    background: #f6f6f6;
    display: block;
    text-align: center;
}

.files_inner label span.icon {
    color: #ed2323;
    font-size: 22px;
}

.files_inner label span {
    display: block;
    color: #bbb;
}

.files_inner .files_list {
    padding: 0;
    margin: 0;
    list-style: none
}

.files_inner .files_list li {
    width: 15.6666666667%;
    display: inline-block;
    margin: 0.5%
}

.files_inner .files_list li img {
    width: 100%;
    height: 100px;
    object-fit: cover
}

.c-sidebar .c-sidebar-brand {
    background: rgba(252, 212, 0, 0.5);
}

@media only screen and (max-width: 768px) {
    .files_inner .files_list li {
        width: 32.3333333333%;
    }

    .files_inner .files_list li img {
        width: 100%;
        height: 80px;
        object-fit: cover
    }
}