// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~jquery-ui/themes/base/all.css';
@import 'select2';
@import '~toastr/toastr';
@import 'lity/dist/lity.min.css';


@font-face {
    font-family: 'Gilroy-Black';
    src: url('font/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('font/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('font/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Semi';
    src: url('font/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.required+label:after {
    position: relative !important;
    content: '*';
    color: red !important;
    font-size: 18px
}

.file-drop-area-wrap {
    padding: 25px;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.file-drop-area {

    position: relative;
    display: flex;
    align-items: center;
    /*width: 450px;*/
    max-width: 100%;
    transition: .2s;
}

.choose-file-button {

    flex-shrink: 0;
    background-color: #ef4b4b;
    border: 1px solid #ef4b4b;
    color: #fff;
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;

}

.divImageMediaPreview {
    margin-left: -10px;
    margin-right: -10px;
}

.file-message {

    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;

}

.pip {
    display: inline-block;
    margin: 10px;
    height: 150px;
    width: 150px;
    position: relative;
}

.pip .imageThumb {
    max-height: 114px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.selFile,
.selFileLive,
.make_featured {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
}

.make_featured {
    left: 0;
}

.remove:hover {
    background: red;
    color: #fff;
}

.heading_style1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
}

.heading_style1:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #000;
    z-index: 1;
}

.heading_style1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 2px;
    width: 95%;
    max-width: 255px;
    background-color: #FDD501;
}

#ajax_loader {
    width: 32px;
    height: 32px;
}