.cannot,
.can {
    padding: 20px;
}

.cannot p,
.can p {
    font-size: 18px;
    font-weight: 600;
}

.cannot p i,
.can p i {
    margin-right: 10px;
}

.cannot p i.fa-times {
    color: #fc4a31;
}

.can p i.fa-check {
    color: #5ec685;
}

.information-box {
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.residential p {
    color: #1f8ec3;
    font-size: 18px;
    font-weight: 600;
}

.prospective-tenant-info {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.footer-image {
    margin: 100px 0;
    width: 100%;
}

.rental-heading {
    font-size: 28px;
    font-weight: 600;
    color: #1f8ec3;
}

.disclosure-heading {
    font-size: 1.4rem;
    font-weight: 400;
}

.disclosure-info {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.blue-text {
    color: #1f8ec3;
}

.professional-details {
    font-size: 28px;
    font-weight: 600;
    color: #1f8ec3;
}

.professional-disclosure {
    font-size: 1.1rem;
    font-weight: 400;
}
